* {
    margin: 0;
    padding: 0;
}

body {
    
    background-color: #212529;
    box-sizing: border-box;
}

.main-page {
    height: 100%;
    margin: 1rem;
}


/* -------------------CV css------------------------ */

.cv-view {
    position: fixed;
    top: 0;
    right: 0;
    margin: 1rem;
    width: 38%;
    aspect-ratio: 215/297;
    padding: 0.5vw;
    background-color: #e9ecef;
  
}

/*--- Top section of the CV ---*/
.cv-pers-info {
    display: flex;
    justify-content: space-between;
    margin: 1vw;
    height: 8%;
}

/* Full name and job title */

.cv-full-name-title {
    width: 68%;
    margin: 0 1vw;
}

.cv-full-name {
    margin: 0;
}

h2 {
    font-size: 1.8vw;
    margin: 0 0 0.3vw 0;
}

h3 {
    font-size: 1.3vw;
    margin: 0 0 0 1vw;
    color: #adb5bd;
    text-transform: uppercase;
}

/* Contact details */

.cv-contact {
    text-align: end;
    line-height: normal;
}

.cv-contact p {
    font-size: 0.5vw;
}

/* --- Main section of CV ---*/
.cv-main {
    margin-top: 1vw;
    height: 85%;
}

h4 {
    font-size: 1.1vw;
    border-bottom: 0.5px black solid;
    margin: 1.8vw 0.5vw 1.2vw 0.5vw;
    padding-left: 1vw;
    padding-bottom: 0.6vw;
}

p {
    font-size: 0.6vw;
    margin: 0 0 0.1vw 0;

    line-height: 0.7vw;
    padding: 0 0 0 0.5vw;
}

/*-- Left section of CV -- */

.cv-profile-experiences {
    width: 100%;
    margin: 1.5vw 0.5vw 0.5vw 0.5vw;
    padding-right: 0.5vw;
    
}

/* Profile */
.cv-profile-div {
    margin: 0 1vw;
}
/* Experiences */
.cv-experiences {
    margin: 0 1vw 1.5vw 0.5vw;
    
}
.cv-experiences > div {
    display: flex;
}


.cv-employer-city-div {
    display: flex;
    
}

.cv-description-div {
    margin: 0.5vw 0 0.5vw 0.6vw;
}

.cv-employer-city-title-div {
    width: 100%;
    margin-left: 0.4vw;
}

.cv-job-date-div {
    width: 3.3vw;
}

.cv-city-div {
    margin-left: auto;
}

/*-- Right section of CV -- */

.cv-edu-cer-skill-lang {
    margin: 0.5vw 0.5vw 0.5vw 0;
    width: 40%;
    height: 97%;
}

/* Education Certificates Skills Languages*/

.cv-education,
.cv-certificates,
.cv-skills,
.cv-languages {
    display: flex;
    margin: 0 1vw 0.5vw 0.5vw;
}
.cv-certificates {
    gap: 0.5vw;
}

.cv-certificates,
.cv-skills,
.cv-languages {
    margin-bottom: 0.1vw;
}


.cv-certificates-issued-div,
.cv-level-div {
    margin-left: auto;
}

.cv-job-title-div p,
.cv-qualification-div p,
.cv-certificates-title-div p {
    font-weight: 1000;
}

/* ------------------ Input section ----------------- */
.container {
    padding: 2rem;
}
#profile {
    margin-top: 1.5rem;
}
.contact,
.education,
.experiences,
.education,
.profile,
.skills,
.certificates,
.languages {
    background-color: #ced4da;
    border-radius: 0.2rem;
}

.inputs {
    width: 56%;
    position: absolute;
    background-color: #adb5bd;
    border-radius: 0.2rem;
   
}
label {
    font-size: 0.8rem;
}

h5 {
    margin: 1.5rem 0 1rem 0;
}
.add-exp-btn,
.add-skills-btn,
.add-certificates-btn,
.add-education-btn,
.add-languages-btn {
    margin-top: 0.5rem;
    text-align: end;
}

#save-btn {
    width: 4rem;
}

#print-btn {
    width: 4rem;
}

#preview-btn {
    display: none;
}
.save-print-btn-div {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0.5rem 1rem;
}

@media screen and (max-width: 576px) {
    .cv-view {
        width: 100%;
        height: 100%;
        zoom: 260%;
        position: static;
        margin: 1rem 0;
    }
    .inputs {
        position: static;
        width: 100%;
      
    }

    .save-print-btn-div {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: #212529;
        padding: 0.5rem 1rem;
        margin: 0;
    }
    #preview-btn {
        display:block;
    }
}

@media print {
    .cv-view {
        width: 100%;
        height: 100%;
        zoom: 290%;
        margin: 0;
        position: fixed;
       
    }
    .save-print-btn-div {
        position: static;
    }
    
}

.preview {
    transform: scale(1.5);
  
}
